<?xml version="1.0" encoding="utf-8"?>
<manifest

    xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.alphanewcare">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <!--android:networkSecurityConfig="@xml/network_security_config"-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

<!--        <service-->
<!--            android:name="kr.co.alphanewcare.MyFireBaseMessagingService"-->
<!--            android:enabled="true"-->
<!--            android:exported="false"-->
<!--            android:stopWithTask="false" />-->


        <service android:name=".MyFireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--        <receiver-->
        <!--            android:name=".AlarmBroadcastReceiver"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="NOTIFYCATION_SERVICE"/>-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->


        <activity
            android:name="kr.co.alphanewcare.IntroActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </activity>


        <activity
            android:name="kr.co.alphanewcare.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <activity
            android:name="kr.co.alphanewcare.CreateAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditTheme" />
        <activity
            android:name="kr.co.alphanewcare.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="kr.co.alphanewcare.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditTheme" />
        <activity
            android:name="kr.co.alphanewcare.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditTheme" />

        <activity
            android:name="kr.co.alphanewcare.AddPet"
            android:screenOrientation="portrait"
            android:theme="@style/EditTheme" />
        <activity
            android:name="kr.co.alphanewcare.ModifyPet"
            android:screenOrientation="portrait"
            android:theme="@style/EditTheme" />

        <activity
            android:name="kr.co.alphanewcare.CareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditTheme" />

        <activity
            android:name="kr.co.alphanewcare.CareAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditTheme" />

        <activity
            android:name="kr.co.alphanewcare.CareListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditTheme" />

        <activity
            android:name="kr.co.alphanewcare.TestResult"
            android:screenOrientation="portrait"
            android:theme="@style/EditTheme" />
        <activity
            android:name="kr.co.alphanewcare.MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditTheme" />
        <activity
            android:name="kr.co.alphanewcare.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditTheme" />
        <activity
            android:name="kr.co.alphanewcare.FaqActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditTheme" />
        <activity
            android:name="kr.co.alphanewcare.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditTheme" />
        <activity
            android:name="kr.co.alphanewcare.ServiceCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditTheme" />
        <activity
            android:name="kr.co.alphanewcare.PrivacyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditTheme" />
        <activity
            android:name="kr.co.alphanewcare.ServiceTermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditTheme" />


        <activity
            android:name="kr.co.alphanewcare.main.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="kr.co.alphanewcare.tutorial.TutorialActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity
            android:name="kr.co.alphanewcare.capture.CaptureActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="kr.co.alphanewcare.result.ResultActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="kr.co.alphanewcare.graph.GraphActivity"
            android:screenOrientation="portrait" />
    </application>


</manifest>